hugo.log
.ninja_log
build.ninja
.task/checksum/watch_pandoc
bin/act
bin/hugo
bin/ninja
bin/task
build/
site/public/
abuild/alpine-standard-3.20.3-x86_64.iso
abuild/alpine.qcow2
images/alpine-bios-2024-10-24.qc.raw
images/alpine-bios-2024-10-24.qcow2
images/alpine-bios-2024-10-24.raw
carlpine_1/bzImage
carlpine_1/rootfs.cpio
build/qemu-kernel-build/src/overlay/dumb-init
build/qemu-kernel-build/src/dumb-init/dumb-init
abuild/qemu-kernel-build/output
abuild/qemu-kernel-build/alpine-minirootfs-3.20.3-x86_64.tar.gz
abuild/qemu-kernel-build/linux-6.6.58.tar.xz
abuild/qemu-kernel-build/alpine-rootfs
abuild/qemu-kernel-build/linux-6.6.58

abuild/qemu-kernel-build/src/dumb-init/dumb-init
abuild/qemu-kernel-build/src/overlay/dumb-init
chimera/chimera_rootfs.qcow2

carlvm/src/dumb-init/dumb-init
chimera_rootfs.qcow2
carl.vm
carlvm-build/alpine-minirootfs-3.20.3-x86_64.cpio
carlvm-build/bzImage
carlvm-build/shared/chimera-linux-x86_64-ROOTFS-20241027-bootstrap.tar.gz
carlvm-build/myimage.img
carlvm-build/cache/
carlvm-build/mydisk.qcow2
docker_mkinitfs/.docker-image
vm_mkinitfs/alpine.qcow2
vm_mkinitfs/netboot.iso
